@model ContactCenter.Models.Orders

@{
    ViewData["Title"] = "Confirmacion de Pedido";
}

<h1>Confirmacion de pedido</h1>


<h5>Pedido @Html.DisplayFor(model => model.OrderId) - @Html.DisplayFor(model => model.Customer.ContactName) </h5>





<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Codigo
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Precio
                </th>

                <th>
                    Total
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.OrderDetails)
            {
                <tr>
                    <td>
                        @product.ProductId
                    </td>
                    <td>
                        @product.Product.ProductName
                    </td>
                    <td>
                        @product.Quantity
                    </td>
                    <td>
                        @product.UnitPrice
                    </td>
                    <td>
                        @product.Total
                    </td>
                </tr>

            }
        </tbody>
    </table>

</div>





<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <div class="form-group" style="display:none">
                <label asp-for="CustomerId" class="control-label"></label>
                <select type="hidden" asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="RequiredDate" class="control-label"></label>
                <input asp-for="RequiredDate" class="form-control" />
                <span asp-validation-for="RequiredDate" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="ShippedDate" class="control-label"></label>
                <input asp-for="ShippedDate" class="form-control" />
                <span asp-validation-for="ShippedDate" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="ShipVia" class="control-label"></label>
                <select asp-for="ShipVia" class="form-control" asp-items="ViewBag.ShipVia"></select>
                <span asp-validation-for="ShipVia" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="Freight" class="control-label"></label>
                <input asp-for="Freight" class="form-control" />
                <span asp-validation-for="Freight" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="ShipName" class="control-label"></label>
                <input asp-for="ShipName" class="form-control" />
                <span asp-validation-for="ShipName" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="ShipAddress" class="control-label"></label>
                <input asp-for="ShipAddress" class="form-control" />
                <span asp-validation-for="ShipAddress" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="ShipCity" class="control-label"></label>
                <input asp-for="ShipCity" class="form-control" />
                <span asp-validation-for="ShipCity" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="ShipRegion" class="control-label"></label>
                <input asp-for="ShipRegion" class="form-control" />
                <span asp-validation-for="ShipRegion" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="ShipPostalCode" class="control-label"></label>
                <input asp-for="ShipPostalCode" class="form-control" />
                <span asp-validation-for="ShipPostalCode" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="ShipCountry" class="control-label"></label>
                <input asp-for="ShipCountry" class="form-control" />
                <span asp-validation-for="ShipCountry" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" readonly />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmDate" class="control-label">Fecha de Confirmacion</label>
                <input asp-for="ConfirmDate" class="form-control" type="date" />
                <span asp-validation-for="ConfirmDate" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ConfirmStatus" />Confirmado
                </label>
            </div>

            <div class="form-group">
                <label asp-for="Comments" class="control-label">Comentarios</label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista de pedidos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
